name: evpn-vxlan-fabric
topology:
  defaults:
    kind: cisco_n9kv
  kinds:
    cisco_n9kv:
      image: ${IMAGE:=vrnetlab/cisco_n9kv:9300-10.4.6}
      # Note: Uncomment the following lines when running a N9kv-lite image.
      # env:
      #   QEMU_MEMORY: 6144 # N9kv-lite requires minimum 6GB memory
      #   QEMU_SMP: 2 # N9kv-lite requires minimum 2 CPUs
    linux:
      image: ghcr.io/hellt/network-multitool
      env:
        PS1: '\h: '
  nodes:
    spine1:
      group: spine
      startup-config: |
        hostname spine1
        grpc port 9339
        interface Ethernet1/1-64
         shutdown
    spine2:
      group: spine
      startup-config: |
        hostname spine2
        grpc port 9339
        interface ethernet1/1-64
         shutdown
    leaf1:
      group: leaf
      startup-config: |
        hostname leaf1
        grpc port 9339
        interface Ethernet1/1-64
         shutdown
    leaf2:
      group: leaf
      startup-config: |
        hostname leaf2
        grpc port 9339
        interface Ethernet1/1-64
         shutdown
    leaf3:
      group: leaf
      startup-config: |
        hostname leaf3
        grpc port 9339
        interface Ethernet1/1-64
         shutdown
    host1:
      kind: linux
      group: server
      exec:
      - ip link add name bond0 type bond
      - ip link set dev bond0 address 00:00:00:00:00:01
      - echo 802.3ad >/sys/class/net/bond0/bonding/mode
      - echo fast >/sys/class/net/bond0/bonding/lacp_rate
      - ip link set dev eth1 down
      - ip link set dev eth2 down
      - ip link set dev eth1 master bond0
      - ip link set dev eth2 master bond0
      - ip link set dev eth1 up
      - ip link set dev eth2 up
      - ip link set dev bond0 up
      - ip link add link bond0 name bond0.10 type vlan id 10
      - ip link set dev bond0.10 up
      - ip addr add 192.168.10.1/24 dev bond0.10
    host2:
      kind: linux
      group: server
      exec:
      - ip link set dev eth1 up
      - ip link set eth1 address 00:00:00:00:00:02
      - ip link add link eth1 name eth1.10 type vlan id 10
      - ip link set dev eth1.10 up
      - ip addr add 192.168.10.2/24 dev eth1.10
  links:
    # Spine 1
    - endpoints: ["spine1:eth1", "leaf1:eth1"]
    - endpoints: ["spine1:eth2", "leaf2:eth1"]
    - endpoints: ["spine1:eth3", "leaf3:eth1"]
    # Spine 2
    - endpoints: ["spine2:eth1", "leaf1:eth2"]
    - endpoints: ["spine2:eth2", "leaf2:eth2"]
    - endpoints: ["spine2:eth3", "leaf3:eth2"]
    # vPC
    - endpoints: ["leaf1:eth30", "leaf2:eth30"]
    - endpoints: ["leaf1:eth31", "leaf2:eth31"]
    - endpoints: ["leaf1:eth32", "leaf2:eth32"]
    # Host
    - endpoints: ["leaf1:eth10", "host1:eth1"]
    - endpoints: ["leaf2:eth10", "host1:eth2"]
    - endpoints: ["leaf3:eth10", "host2:eth1"]
