---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: nves.nx.cisco.networking.metal.ironcore.dev
spec:
  group: nx.cisco.networking.metal.ironcore.dev
  names:
    kind: NVE
    listKind: NVEList
    plural: nves
    shortNames:
    - nve
    singular: nve
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.deviceRef.name
      name: Device
      type: string
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NVE is the Schema for the NVE API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: spec defines the desired state of NVE
            properties:
              advertiseVMAC:
                description: 'AdvertiseVMAC is equivalent to: `advertise virtual-rmac`'
                type: boolean
              deviceRef:
                description: |-
                  DeviceName is the name of the Device this object belongs to. The Device object must exist in the same namespace.
                  Immutable.
                properties:
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    maxLength: 63
                    minLength: 1
                    type: string
                required:
                - name
                type: object
                x-kubernetes-map-type: atomic
                x-kubernetes-validations:
                - message: DeviceRef is immutable
                  rule: self == oldSelf
              globalMulticastGroups:
                description: GlobalMulticastGroups defines the multicast distribution
                  tree
                properties:
                  l2:
                    description: L2 configures the group for the Layer 2 VNI, equiv.
                      to `global mcast-group ... L2`
                    format: cidr
                    type: string
                  l3:
                    description: L3 configures the global multicast group for the
                      Layer 3 VNI, equiv. to `global mcast-group ... L3`
                    format: cidr
                    type: string
                type: object
                x-kubernetes-validations:
                - message: l2 and l3 are mutually exclusive
                  rule: '!(has(self.l2) && has(self.l3))'
              holdDownTime:
                description: 'HoldDownTime is equivalent to: `source-interface hold-down-time`'
                maximum: 1500
                minimum: 1
                type: integer
              infraVLANs:
                description: |-
                  InfraVLANs is the list of infrastructure VLANs for ingress replication, equivalent to: `system nve infra-vlan`
                  - no overlapping ranges
                  - range of vlans configured does must not exceed 512
                items:
                  description: VLANListItem represents a single VLAN ID or a range
                    start-end (e.g. "100", "200-300").
                  pattern: ^(\d{1,4}(-\d{1,4})?)$
                  type: string
                  x-kubernetes-validations:
                  - message: Single VLAN 1-3967; range both 1-3967 and end > start
                    rule: 'self.contains(''-'') ? (int(self.split(''-'')[0]) >= 1
                      && int(self.split(''-'')[0]) <= 3967 && int(self.split(''-'')[1])
                      >= 1 && int(self.split(''-'')[1]) <= 3967 && int(self.split(''-'')[1])
                      > int(self.split(''-'')[0])) : (int(self) >= 1 && int(self)
                      <= 3967)'
                maxItems: 2
                type: array
              multisite:
                description: MultiSite defines EVPN Multisite Border Gateway configuration.
                properties:
                  ID:
                    description: |-
                      ID is the site ID or unique identifier for the site in a multisite EVPN deployment.
                      equiv. to: `evpn multisite border-gateway <id>`
                    format: int32
                    type: integer
                  borderGatewayInterfaceRef:
                    description: |-
                      BorderGatewayInterfaceRef is the reference to the interface used as Border Gateway Interface
                      equiv. to.:
                      ```
                      interface nve1
                      multisite border-gateway interface <interface-name>
                      ```
                    properties:
                      name:
                        description: |-
                          Name of the referent.
                          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        maxLength: 63
                        minLength: 1
                        type: string
                    required:
                    - name
                    type: object
                    x-kubernetes-map-type: atomic
                  enabled:
                    description: Enabled enables EVPN Multisite Border Gateway functionality.
                    type: boolean
                required:
                - ID
                - borderGatewayInterfaceRef
                - enabled
                type: object
              stormControl:
                description: StormControl defines storm-control parameters for the
                  NVE interface.
                properties:
                  broadcast:
                    description: Broadcast is a sorm-control configuration parameter,
                      as percentage of port capacity (an integer value).
                    format: int32
                    maximum: 100
                    minimum: 0
                    type: integer
                  multicast:
                    description: Multicast is a sorm-control configuration parameter,
                      as percentage of port capacity (an integer value).
                    format: int32
                    maximum: 100
                    minimum: 0
                    type: integer
                  unicast:
                    description: Unicast is a sorm-control configuration parameter,
                      as percentage of port capacity (an integer value).
                    format: int32
                    maximum: 100
                    minimum: 0
                    type: integer
                type: object
            required:
            - deviceRef
            type: object
          status:
            description: status defines the observed state of NVE
            properties:
              conditions:
                items:
                  description: Condition contains details for one aspect of the current
                    state of this API Resource.
                  properties:
                    lastTransitionTime:
                      description: |-
                        lastTransitionTime is the last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed.  If that is not known, then using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        message is a human readable message indicating details about the transition.
                        This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: |-
                        observedGeneration represents the .metadata.generation that the condition was set based upon.
                        For instance, if .metadata.generation is currently 12, but the .status.conditions[x].observedGeneration is 9, the condition is out of date
                        with respect to the current state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: |-
                        reason contains a programmatic identifier indicating the reason for the condition's last transition.
                        Producers of specific condition types may define expected values and meanings for this field,
                        and whether the values are considered a guaranteed API.
                        The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - type
                x-kubernetes-list-type: map
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
