name: REUSE Compliance
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch: {}
permissions:
  contents: read
jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: REUSE Compliance Check
      uses: fsfe/reuse-action@v5
