name: Test Chart

permissions:
  contents: read

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'

jobs:
  test-chart:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - uses: azure/setup-helm@v4.3.0
        with:
          version: 'v3.17.0'

      - name: Lint Helm Chart
        run: |
          helm lint ./charts/network-operator

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: 'kind'

      - name: Prepare network-operator
        run: |
          go mod download
          make docker-build IMG=network-operator:v0.1.0
          kind load docker-image network-operator:v0.1.0

      - name: Install cert-manager via Helm
        run: |
          helm repo add jetstack https://charts.jetstack.io
          helm repo update
          helm install cert-manager jetstack/cert-manager --namespace cert-manager --create-namespace --set installCRDs=true

      - name: Wait for cert-manager to be ready
        run: |
          kubectl wait --namespace cert-manager --for=condition=available --timeout=300s deployment/cert-manager
          kubectl wait --namespace cert-manager --for=condition=available --timeout=300s deployment/cert-manager-cainjector
          kubectl wait --namespace cert-manager --for=condition=available --timeout=300s deployment/cert-manager-webhook

      - name: Install Helm chart for project
        run: |
          helm install my-release ./charts/network-operator --create-namespace --namespace network-operator-system

      - name: Check Helm release status
        run: |
          helm status my-release --namespace network-operator-system
